# From: https://github.com/marketplace/actions/clang-format-check#multiple-paths
name: clang-format Check
on:
  pull_request:
  workflow_dispatch:
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'cachelib'
          - 'examples'
    steps:
    - uses: actions/checkout@v3
    - name: Run clang-format style check for C/C++ programs.
      uses: jidicula/clang-format-action@v4.6.2
      with:
        clang-format-version: '13'
        check-path: ${{ matrix.path }}
